services:
  postgres:
    image: postgres:14
    container_name: choremane-postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=choresdb
    volumes:
      - choremane-postgres-data:/var/lib/postgresql/data
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql:ro
    restart: unless-stopped

volumes:
  choremane-postgres-data:
